---
layout: base
---

{% include header.html type="page" %}

<main class="{% if page.full-width %} container-fluid {% else %} container-md {% endif %}">
  <div class="row">
    <div class="{% if page.full-width %} col {% else %} col-xl-8 offset-xl-2 col-lg-10 offset-lg-1 {% endif %}">
      {% if page.before-content %}
        <div class="before-content">
          {% for file in page.before-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {{ content }}

      {% if page.after-content %}
        <div class="after-content">
          {% for file in page.after-content %}
            {% include {{ file }} %}
          {% endfor %}
        </div>
      {% endif %}

      {% include comments.html %}
    </div>
  </div>

    <!-- MathJax Configuration for LaTeX Delimiters -->
    <script type="text/x-mathjax-config">
      MathJax = {
        tex: {
          inlineMath: [['$', '$'], ['\\(', '\\)']],
          displayMath: [['$$', '$$'], ['\\[', '\\]']],
          tags: 'ams',  // Use 'ams' to number only the equations with \tag{} or \[...\] style
          tagSide: "right", // Position equation numbers on the right
          tagIndent: "0.8em", // Indentation for numbers
          processEscapes: true, // Allow escaping LaTeX commands
        },
        options: {
          skipHtmlTags: ["script", "noscript", "style", "textarea", "pre"],
          processHtmlClass: "tex2jax_process" // Class for elements to be processed by MathJax
        }
      };
    </script>

    <!-- MathJax CDN for Rendering LaTeX -->
    <script type="text/javascript" async
        src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/3.2.2/es5/tex-mml-chtml.js">
    </script>

</main>
